<h1>About Meadowlark Travel</h1>

<p>Your fortune for the day:</p>
<blockquote>
	{{fortune}}
</blockquote>

  <a href="/contact"> <img id="contactsimg" src="/img/contacts.jpg" alt="Call Harold"></a>
    <a href="/contact"> <img id="contactsimg" src="/img/contacts.jpg" alt="Call Harold"></a>
      <a href="/contact"> <img id="contactsimg" src="/img/contacts.jpg" alt="Call Harold"></a>